{% extends "layout/base.html" %}

{% block content %}

<div class="container">

    {% load bootstrap5 %}

    <form action="envoyer_mail" method="POST">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text">Ref interne : </span>
            <input class="form-control p-2" type="text" name="sujet" id="sujet" value="{{ achat.ref_interne }}">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Matériel</span>
            <textarea class="form-control p-2" aria-label="Matériel" name="message" rows="25">

    Bonjour,
    
    Pouvez-vous me faire un devis pour :
    
    Matériel :
    {{ achat.materiel }}
    
    Adresse de facturation :
    SIRET : {{ achat.cabinet_facturation.siret }}
    {{ achat.cabinet_facturation.nom_gcl }}
    {{ achat.cabinet_facturation.nom_juridique }}
    {{ achat.cabinet_facturation.adresse }}
    {{ achat.cabinet_facturation.code_postal }}
    {{ achat.cabinet_facturation.ville }}
    
    Adresse de livraison :
    {{ achat.cabinet_livraison.nom_gcl }}
    {{ achat.cabinet_livraison.nom_juridique }}
    {{ achat.cabinet_livraison.adresse }}
    {{ achat.cabinet_livraison.code_postal }}
    {{ achat.cabinet_livraison.ville }}
    
    (Ref interne : {{ achat.ref_interne }})
    
    Merci par avance. 
    
        </textarea>

        </div>

        <input class="btn btn-primary" type="submit" value="Envoyer mail">

    </form>



</div>

{% endblock content %}